In [10]:
dataset_df = pd.read_csv("../../data/datasets/20170416/default/time_series_9.csv")
dataset_df.head()

,mean,var,max,degree_mean,degree_std,down,left,left_down,left_up,right,...,diver,feed,label,Sun,Mon,Tue,Wed,Thurs,Fri,Sat
0,1.79643,1.4092,4.12311,157.181818,117.390040,0.000000,0.272727,0.159091,0.090909,0.295455,...,0,0,0,0,0,0,0,0,1,0
1,29.61730,22.5958,69.27660,126.488372,114.376443,0.000000,0.302326,0.139535,0.046512,0.325581,...,0,0,0,0,0,0,0,0,1,0
2,27.07100,26.3131,70.23370,127.688889,118.797834,0.022222,0.200000,0.088889,0.133333,0.311111,...,0,0,0,0,0,0,0,0,1,0
3,32.68680,27.2595,72.96340,142.135135,137.729889,0.000000,0.108108,0.000000,0.162162,0.378378,...,0,0,0,0,0,0,0,0,1,0
4,29.73870,26.6687,69.15880,151.263158,125.989282,0.000000,0.236842,0.026316,0.157895,0.315789,...,0,0,0,0,0,0,0,0,1,0

In [4]:
print(dataset_df.columns)

Index(['mean', 'var', 'max', 'degree_mean', 'degree_std', 'down', 'left',
       'left_down', 'left_up', 'right', 'right_down', 'right_up', 'up',
       'overall_dir_left', 'overall_dir_left_down', 'overall_dir_left_up',
       'overall_dir_right', 'overall_dir_right_down', 'overall_dir_right_up',
       'grid_0_0', 'grid_0_1', 'grid_0_2', 'grid_0_3', 'grid_0_4', 'grid_0_5',
       'grid_0_6', 'grid_0_7', 'max_count', 'max_index_grid_0_1',
       'max_index_grid_0_2', 'max_index_grid_0_3', 'max_index_grid_0_4',
       'max_index_grid_0_5', 'max_index_grid_0_6', 'area_ratio', 'diver',
       'feed', 'label', 'Sun', 'Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat'],
      dtype='object')

In [2]:
def normalize(df, col_lst):
    result_df = df.copy()
    for col in col_lst:
        max_value = df[col].max()
        min_value = df[col].min()
        result_df[col] = (df[col] - min_value)/(max_value - min_value)
    
    return result_df

In [9]:
col_lst = ["mean", "var", "max", "degree_mean", "degree_std", "max_count"]
normalized_df = normalize(dataset_df, col_lst)
normalized_df.head()

,mean,var,max,degree_mean,degree_std,down,left,left_down,left_up,right,...,diver,feed,label,Sun,Mon,Tue,Wed,Thurs,Fri,Sat
0,0.000000,0.000000,0.000000,0.630473,0.501339,0.000000,0.272727,0.159091,0.090909,0.295455,...,0,0,0,0,0,0,0,0,1,0
1,0.308052,0.028432,0.151409,0.465582,0.467132,0.000000,0.302326,0.139535,0.046512,0.325581,...,0,0,0,0,0,0,0,0,1,0
2,0.279858,0.033421,0.153633,0.472031,0.517318,0.022222,0.200000,0.088889,0.133333,0.311111,...,0,0,0,0,0,0,0,0,1,0
3,0.342040,0.034691,0.159977,0.549639,0.732209,0.000000,0.108108,0.000000,0.162162,0.378378,...,0,0,0,0,0,0,0,0,1,0
4,0.309396,0.033898,0.151135,0.598677,0.598945,0.000000,0.236842,0.026316,0.157895,0.315789,...,0,0,0,0,0,0,0,0,1,0